<% include ../partials/header %>

<div class='container'>
   <div class='row'>
      <div class='col-md-3'>
         <p class='lead text-center'>Utah Reviews</p>
         <div class='list-group'>
            <li class='list-group-item active'>Ski Resorts</li>
            <li class='list-group-item'>Restaurants</li>
            <li class='list-group-item'>Shopping</li>
         </div>
      </div>
      <div class='col-md-9'>
         <div class='thumbnail'>
            <img class='img-responsive' src='<%= skiresort.image %>'>
            <div class='caption-full'>
               <h4 class='pull-right'>Rate: $9.00/night</h4>
               <h4><a href=''><%= skiresort.name %></a></h4> 
               <p><%= skiresort.description %></p>
               <p class='author'>Submitted by: <%= skiresort.author.username %></p>
               <% if (currentUser && skiresort.author.id.equals(currentUser._id)) { %>
                  <a href="/skiresorts/<%= skiresort._id %>/edit" class="btn btn-warning btn-sm">Edit</a>
                  <form id="delete-form" action="/skiresorts/<%= skiresort._id %>?_method=DELETE" method="POST" >
                     <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                  </form>
               <% } %>
           </div>
         </div>
         <div class='well'>
            <div class='text-right'>
               <a class='btn btn-info btn-large' href='/skiresorts/<%= skiresort._id %>/comments/new'>Post a comment</a>     
            </div>
               <hr>
               <% skiresort.comments.forEach(function(comment){ %>
                  <div class='row'>
                     <div class='col-md-12'>
                        <span class='pull-right'>10 Days Ago</span>
                        <strong><%= comment.author.username %>:</strong>
                        <p><%= comment.text %></p>
                        <hr>
                     </div>
                  </div>
               <% }); %>
         </div>
      </div>
   </div>
</div>

<div class='container'>
   <div class='text-center'>
      <a href='/skiresorts'>Go Back</a>       
   </div>
</div>         



<% include ../partials/footer %>